keys/*
output/*
!keys/.gitkeep
!output/.gitkeep

*.exe
*.o
*.obj
*.out
*.app
*.dll
*.so
*.dylib

build/
CMakeCache.txt
CMakeFiles/
Makefile
*_autogen/
CMakeLists.txt.user

*.class
*.jar
bin/
out/

.classpath
.project
.settings/

.vscode/

.DS_Store
Thumbs.db